*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
}

#profile_pic {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 250px;
    border-radius: 50%;
    border: 5px solid black;
}

#coverArt {
    min-height: 400px;
    background: url(./images/coverpic.jpeg);
    border-bottom: 5px solid black;
}

#name {
    margin-top: 175px;
    text-align: center;
    font-family: monospace;
    
}

.indexMenu {
    margin-top: 10px;
    margin-left: 30px;
    margin-bottom: 0.5%;
    list-style-type: square;
}
