*{
    margin: 0;
    padding: 0;
}

body {
    background-color: #e5e5e5;
}

#profile_pic {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 250px;
    border-radius: 50%;
    border: 5px solid black;
}

#coverArt {
    min-height: 400px;
    background: url(./images/coverpic.jpeg);
    border-bottom: 5px solid black;
}

#name {
    margin-top: 175px;
    text-align: center;
    font-family: monospace;
    
}

#basicInfo p {
    margin-top: 10px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 14px;
    font-family: monospace;
    font-weight: bold;
}

.indexMenu {
    padding: 10px;
    text-align: center;
    background-color: #ffbf00;
    border: 2px solid black;
}

.indexMenu li {
    text-align: center;
    display: inline;
    padding: 10px;
    
}


.indexMenu li a {
    position: inherit;
    padding: inherit;
    border-left: transparent;
    border-right: transparent;
    border: solid 2px transparent;
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    color: black;
}

.indexMenu li a:hover {
   border-right: solid 2px black;
   border-left: solid 2px black;
   color: gray;
}
